.img-fluid {
    width:100px;
}
.jumbotron {
    text-align: center;
    background: none;

}

body {
    background-color: lightblue;
}
#button1 {
    margin: 5px;
}
#button2 {
    margin: 5px;
}
#button3 {
    margin: 5px;
}
#button4 {
    margin: 5px;
}
#crystalBtns {
    content: center;
}